body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

canvas {
  background: #111;
  border: 2px solid #22c55e;
  margin: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  width: 200px;
  align-self: center;
}


